.account {
  width: 85%;
  margin: 20px auto;
  &__container {
    display: flex;

    &_block {
      width: 60%;
      box-shadow: 0px 3px 14px #0000001c;
      border-radius: 10px;
      margin-right: 40px;
      &_title {
      }
    }
    &_inputs {
    }
  }
  &__input {
    &_date {
      outline: none;
      border-bottom: 1px solid #efefef;
      margin-bottom: 10px;
      font-weight: 700;
      opacity: 0.7;
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
    }
  }
  &__registrBtn {
    width: 369px;
    height: 49px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 15px;

    background: linear-gradient(107deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #00000029;
    border-radius: 93px;
    opacity: 0.7;
  }
}
