@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-gradient {
    background: linear-gradient(107deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat padding-box;
  }
  .bg-green {
    background: transparent linear-gradient(105deg, #009dc5 0%, #21e590 100%) 0% 0% no-repeat
      padding-box;
  }
  .bg-footer-line {
    background: transparent
      linear-gradient(
        90deg,
        #f8f8f800 0%,
        #e3e3e380 31%,
        #e3e3e380 49%,
        #e3e3e380 65%,
        #f8f8f800 100%
      )
      0% 0% no-repeat padding-box;
  }
  .bg-image {
    background-image: url('./images/visa_img.png');
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.fa-angle-down {
  cursor: pointer;
}
.fa-circle-check {
  font-size: 35px;
  margin: 0 25px;
}

.card__img {
  margin-right: 16px;
  background-size: contain;
  width: 37px;
  height: 30px;
  background-repeat: no-repeat;
}
