@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-gradient {
    background: linear-gradient(107deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat padding-box;
  }
  .bg-green {
    background: transparent linear-gradient(105deg, #009dc5 0%, #21e590 100%) 0% 0% no-repeat
      padding-box;
  }
  .bg-footer-line {
    background: transparent
      linear-gradient(
        90deg,
        #f8f8f800 0%,
        #e3e3e380 31%,
        #e3e3e380 49%,
        #e3e3e380 65%,
        #f8f8f800 100%
      )
      0% 0% no-repeat padding-box;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.fa-angle-down {
  cursor: pointer;
}
.fa-circle-check {
  font-size: 35px;
  margin: 0 25px;
}

.fa-facebook {
  font-size: 28px;
  color: #1877f2;
  margin: 0 60px 0 25px;
}
.fa-google {
  font-size: 28px;
  margin: 0 60px 0 25px;

  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.left__bg_front {
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url('./images/L-FRONT.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
.left__bg_back {
  position: fixed;
  left: -30px;
  right: auto;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  background-image: url('./images/L-BACK.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
.right__bg_front {
  position: fixed;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  background-image: url('./images/R-FRONT.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
.right__bg_back {
  position: fixed;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -4;
  background-image: url('./images/R-BACK.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
