.header {
  box-shadow: 0px 18px 20px #00000008;
  &__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  &__logo {
    width: 150px;
    &_img {
      cursor: pointer;
    }
  }

  &__nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;

    &_active {
      color: #e85d73;
      font-weight: 700;
    }
    &_disabled {
      color: #62768d;
    }
  }
  &__menu {
    display: flex;
    justify-content: right;
    width: 200px;
    &_user {
      margin-right: 10px;
    }
  }
}
