.footer {
  &__date {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-weight: 400;
    &_topmusic {
    }
    &_img {
      width: 60px;
      height: 60px;
      margin-left: 20px;
    }
  }
  &__line {
    width: 100vw;
    height: 2px;
    background: transparent
      linear-gradient(
        90deg,
        #f8f8f800 0%,
        #e3e3e380 31%,
        #e3e3e380 49%,
        #e3e3e380 65%,
        #f8f8f800 100%
      )
      0% 0% no-repeat padding-box;
    opacity: 1;
  }
  &__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 0 30px;
    width: 522px;
    font-weight: 700;
    &_item {
      margin-left: 22px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
