.main {
  height: 1080px;
  &__container {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    margin-top: 50px;
    &_left {
      box-shadow: 0px 3px 14px #0000001c;
      width: 50%;
      height: 561px;
      border-radius: 5px;
    }
  }
  &__btns {
    margin-bottom: 20px;
    &_item {
      cursor: pointer;
      border: 1px solid #ff870e;
      color: #ff870e;
      font-weight: 700;
      width: 124px;
      height: 46px;
      border-radius: 23px;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100%;
    &_right {
      display: flex;
      flex-direction: column;
      padding: 30px;
      height: 100%;
    }
    &__wrapper {
      height: 280px;
      overflow: scroll;
    }
    &_title {
      font-size: 28px;
      text-indent: 15px;
      margin-top: 20px;
    }

    &_btns_group {
    }
    &_btns_container {
      display: flex;
      align-items: center;
      &_value {
        width: 141px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff870e;
        border: 1px solid #ff870e;
        color: #fff;
        font-weight: 700;
        border-radius: 26px;
        margin: 0 10px 10px;
      }
      &_item {
        cursor: pointer;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 2px solid #62768d;
      }
    }
    &_mounthlyRecharged {
      font: normal normal bold 14px/19px Sen;
      letter-spacing: 0px;
      color: #e85d73;
      text-transform: uppercase;
      margin: 10px 0px 90px 0px;
      border: none;
      background-color: #fff;
    }
    &_punctuallyRecharged {
      font: normal normal bold 15px/19px Sen;
      text-indent: 10px;
      color: #e85d73;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &_usageText {
      font-size: 16px;
      color: #62768d;
      margin-bottom: 20px;
    }
    &_chargeCagnotte {
      font: normal normal bold 15px/19px Sen;

      color: #e85d73;
      text-transform: uppercase;
    }
    &_tips {
      &_title {
        padding: 30px 0px 0px 30px;
      }
    }
  }

  &__right {
    width: 50%;
    margin-left: 50px;

    &_upper {
      height: 251px;
      width: 100%;
      border-radius: 5px;
      background: transparent linear-gradient(100deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat
        padding-box;
      box-shadow: 0px 14px 22px #0000001a;
    }
    &_bottom {
      height: 464px;
      width: 100%;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: 0px -2px 22px #0000001a;
      &_more {
        display: flex;
        justify-content: center;
        color: #e85d73;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
        margin-top: 20px;
      }
    }
    &_block {
      display: flex;
      margin-bottom: 30px;
      height: 100%;
      align-items: center;
      &_container {
        margin-left: auto;
      }
      &_num {
        font-size: 100px;
        font-weight: 700;
        color: #fff;
      }
      &_tc {
        font-size: 60px;
        color: #fff;
        font-weight: 700;
      }
      &_text_u {
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        width: 260px;
      }
      &_text_b {
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 30px;
      }
    }
  }
}
.tips__container {
  display: flex;
  flex-direction: column;
  height: 265px;
  overflow: scroll;
  &_content {
    display: flex;
    align-items: center;
  }
  &_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    margin: 0px 10px 0px 30px;
  }
  &_list {
    list-style: none;
    padding-left: 0;
    &_name {
      font-size: 18px;
      color: #191c1c;
      font-weight: 700;
    }
    &_when {
      font-size: 13px;
      color: #868686;
    }
  }
  &_amount {
    font-size: 18px;
    color: #e85d73;
    font-weight: 700;
    margin-left: auto;
    margin-right: 30px;
  }
  &_underline {
    width: 90%;
    color: #707070;
    opacity: 0.12;
  }
}
