.modal {
  &_title {
    font-size: 28px;
    text-align: center;
  }
  &__block {
    width: 447px;
    height: 170px;
    margin-bottom: 30px;
    background: transparent linear-gradient(100deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat
      padding-box;
    box-shadow: 0px 14px 22px #0000001a;
    border-radius: 5px;
    opacity: 1;
    color: #fff;
    &_textB {
      text-align: right;
      margin-right: 16px;
      font-size: 14px;
    }
    &_wallet {
      &_tc {
        font-size: 50px;
        height: 100px;
      }
      display: flex;
      padding: 15px 0;
      margin: auto;
      width: 90%;
      &_container {
        &_textU {
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
    }
  }
  &_text {
    font-weight: 700;
    font-size: 18px;
    color: #3d3d3d;
  }
  &__card {
    display: flex;
    align-items: center;
    &_img {
      width: 40px;
      height: 35px;
      background-color: grey;
    }
    &_list {
      list-style: none;
      padding-left: 20px;

      &_item {
        font-weight: 700;
        color: #191c1c;
        font-size: 18px;
        &_exp {
          color: #868686;
          font-size: 13px;
        }
      }
    }
  }
  &_updateBtn {
    border: none;
    background-color: #fff;
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    cursor: pointer;
    color: #e85d73;
    font-weight: 700;
  }
  &_general {
    color: #5e6060;
    opacity: 0.5;
    font-size: 12px;
  }
  &__rechargeBtns {
    display: flex;
    flex-direction: column;
    &_valider {
      width: 260px;
      height: 49px;
      margin: auto;
      box-shadow: 0px 2px 14px #00000029;
      border-radius: 93px;
      background: transparent linear-gradient(113deg, #ff870e 0%, #d236d2 100%) 0% 0% no-repeat
        padding-box;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 15px;
      cursor: pointer;
      margin: 20px auto;
    }
  }
}
